/*-------------------------------------------*\
  Variables Sidebar
\*-------------------------------------------*/
$text-primary: #b6b6b6;
$text-secondary: #ececec;
$bg-primary: #23232e;
$bg-secondary: #141418;
$transition-speed: 600ms;

/*-------------------------------------------*\
  Variables Home
\*-------------------------------------------*/
$marginSidebar: 7rem;


/*-------------------------------------------*\
  Variables Charte Graphique

  COLOR PALETTE :
  #ff7eee - Violet (color primary)
  #df49a6 - Rose (color secondary)

\*-------------------------------------------*/
$violet: #ff7eee;
$rose: #df49a6;
