@import 'src/styles/vars';
/*-------------------------------------------*\
  Container About - Size Mobile
\*-------------------------------------------*/
.about {
  background-color: lighten(#20232a, 10%);
  height: 100%;
  color: #eee;
  padding: 0 2rem;
  padding-bottom: 8rem;

  /* Title of the categories */
  &-title {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 2em;
    text-transform: uppercase;

    &--subject {
      text-align: center;
      margin: 2rem 0;
      font-size: 1.4em;
    }
  }

  &-desc {
    text-align: justify;
    margin-bottom: 2rem;
  }

  &-container {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    padding: 1rem;
    border-radius: .5rem;
    position: relative;
    margin: 3rem 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,.5);
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,.5);

    &-svg {
      position: absolute;
      top: -20px;
      background-color: lighten(#20232a, 10%);
      // -webkit-box-shadow: 0px -9px 10px -9px rgba(250, 250, 250, .7);
      // -moz-box-shadow: 0px -9px 10px -9px rgba(250, 250, 250, .7);
      // box-shadow: 0px -9px 10px -9px rgba(250, 250, 250, .7);
      // border-radius: 10px;
      // padding: .1rem;
      &--react {
        color: #61dafb;
      }     
      &--js {
        color: #f7df1e;
      }
      &--html {
        color: #FF6600;
      }
      &--css {
        color: #264EE4;
      }

      & svg {
        width: 3rem;
        font-size: 2.5em;
      }
    }
    &-title {
      font-size: 16px;
      margin: 1rem 0;
    }
    &-desc {
      text-align: justify;
    }
  }
  &-projets {
    &-title {
      text-align: center;
    }
    &-desc {

    }
    &-container {
      margin: 2rem 0;
      &-title {
        text-align: center;
      }
      &-img {
        width: 100%;
        margin: .5rem 0;
        border-radius: 1em;
      }
    }
  }
}

@media only screen and (min-width: 601px) {
  /*-------------------------------------------*\
    Container About - Size Tablet & Computer
  \*-------------------------------------------*/
  .about {
    padding-left: ($marginSidebar + 1);
    padding-bottom: 3rem;

    &-container {
      width: 50%;
      margin: 3rem auto;
    }

    &-projets {
      &-container-img {
        width: 50%;
        margin: 2rem auto;
        display: block;
      }
    }
  }
}
