@import 'src/styles/vars';



.navbar {
  position: fixed;
  background-color: $bg-primary;
  transition: width .6s ease;
  z-index: 99999;

  &-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    &-item {
      width: 100%;
      
      .active {
        filter: grayscale(0%) opacity(1);
        background: $bg-secondary;
        color: $text-secondary;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      margin: 0 auto;
      height: 5rem;
      color: $text-primary;
      text-decoration: none;
      filter: grayscale(100%) opacity(0.7);
      transition: $transition-speed;

      &:hover {
        filter: grayscale(0%) opacity(1);
        background: $bg-secondary;
        color: $text-secondary;
      }

      & svg {
        width: 2rem;
        min-width: 2rem;
        margin: 0 1.5rem;
      }
    }
  }
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.fa-primary {
  color: $violet;
}

.fa-secondary {
  color: $rose;
}

.fa-primary,
.fa-secondary {
  transition: $transition-speed;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $text-secondary;
  background: $bg-secondary;
  font-size: 1.2rem;
  letter-spacing: 0.15ch;
  width: 90%;
  margin: 1rem;
  border-radius: 1rem;
}

.logo svg {
  transform: rotate(0deg);
  transition: $transition-speed;
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: $transition-speed;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    justify-content: center;

    &-nav {
      flex-direction: row;

      &-link {
        justify-content: center;
      }
    }
  }

  .logo {
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 601px) {
  .active {
    border-radius: 1rem;
  }
  .navbar {
    top: 0;
    width: 7rem;
    height: 100vh;

    &-nav-item {
      transition: $transition-speed;
      border-radius: 1rem;
      margin-top: 1rem;
    }

    &-nav-link {
      &:hover {
        border-radius: 1rem;
        transition: $transition-speed;
      }
    }

    &:hover {
      width: 16rem;
    }

    &:hover .link-text {
      display: inline;
    }

    &:hover .logo svg {
      margin-left: 11rem;
    }

    &:hover .logo-text {
      left: 0px;
    }
  }
}
