

// == Size Mobile
@media screen and (min-width: 320px) {
  // == Header
  .image-header {
    position: absolute;
    object-fit: cover;
    height: 400px;
    width: 100%;
    top: 3.5rem;
  }
  .header {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;

    &-profil {
      width: 130px;
      height: 140px;
      border-radius: 50%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
      position: relative;
    }

    &-title {
      text-align: center;
      color: #fff;
      position: relative;
      font-weight: bold;
    }

    &-desc {
      text-align: center;
      color: #fff;
      font-style: italic;
      position: relative;
    }
  }

  // == Logo
  .logo {
    position: relative;
    display: flex;
    justify-content: space-evenly;

    &-image {
      width: 70px;
      height: 70px;
      margin-top: -2rem;
    }
  }

  // == Information
  .description {
    box-shadow: 0px 0px 20px 0px rgb(185, 184, 184);
    margin: 2rem 1rem;
    padding: 1rem;

    &-desc{
      &-title {
        font-weight: bold;
        font-style: italic;
      }
    }

    &-info {
      &-title {
        font-weight: bold;
        font-style: italic;
        margin-top: 1.4rem;
      }

      &-liste {
        margin-bottom: .2rem;

        &--gras {
          font-weight: bold;
        }
      }

      &-contact {
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}


// == Size Tablet
@media screen and (min-width: 768px) {
  .description-info-contact {
    text-align: right;
  }
}


// == Size Desktop
@media screen and (min-width: 992px) {
  .image-header {
    height: 460px;
  }

  .header {
    &-profil {
      width: 160px;
      height: 170px;
    }

    &-title {
      font-size: 55px;
    }

    &-desc {
      font-size: 20px;
    }
  }

  .description {
    display: flex;
    padding-top: 2rem;
    margin-bottom: 0;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;

    &-desc {
      width: 48%;
    }

    &-info {
      margin-left: 5rem;
      width: 48%;

      &-title {
        margin-top: 0;
      }

      &-contact {
        text-align: right;
      }
    }
  }
}
