@media screen and (min-width: 320px) {
  .footer {
    background-color: #232323;
    color: #fff;
    &-desc {

      &--desc {
        text-align: center;
      }

      &--other {
        text-align: center;
        padding: 1rem;
        color: rgb(138, 55, 55);
      }
    }
  }
}
